HSK_TESTNET_RPC_URL=https://testnet.hsk.xyz
HSK_TESTNET_CHAIN_ID=133
HSK_TESTNET_EXPLORER_URL=https://testnet-explorer.hsk.xyz
WHSK_ADDRESS=0x4200000000000000000000000000000000000006
HUSKY_AGENT_FACTORY_ADDRESS=
HUSKY_AGENT_ROUTER_ADDRESS=
SPECULOS_TRANSPORT_URL=
HSK_FLASHBLOCKS_WS_URL=wss://testnet-flashblocks.hsk.xyz/ws
ANTHROPIC_API_KEY=
PRIVATE_KEY=
